.dashboard {
  display: flex;
  justify-content: center;
 
  gap: 30px;
  padding: 50px;
 
  background: #ffffff;
  flex-wrap: nowrap;
}

.box {
  background:#f4f6f9;
  padding: 30px 40px;
  border-radius: 15px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 200px;
  transition: all 0.3s ease;
  height: 150px;
}

.box:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 25px rgba(7, 67, 234, 0.2);
}

.box h2 {
  font-size:28px;
  color: #2c3e50;
  margin-bottom: 10px;
}

.box h3 {
  font-size: 1.2rem;
  color: #7f8c8d;
  font-weight: 500;
}
