*
{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
.dashboard_con
{
display: flex;
  justify-content: center;
 
 margin-left: 14%;
  gap: 20px;
  padding: 50px;
 
  background: #ffffff;
  flex-wrap: nowrap;
}

.box {
  background:#f4f6f9;
  padding: 30px 40px;
  border-radius: 15px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 190px;
  transition: all 0.3s ease;
  height: 196px;
}

.box:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 25px rgba(7, 67, 234, 0.2);
}

.box h2 {
  font-size:28px;
  color: #2c3e50;
  margin-bottom: 10px;
}

.box h3 {
  font-size: 1.2rem;
  color: #7f8c8d;
  font-weight: 500;
}
 

.title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: bold;
}

.stats {
  display: flex;
  gap: 15px;
  justify-content: center;
  
  flex-wrap: wrap;
}

.card {
  background: #f8f9fa;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  width: 90px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.card p {
  margin: 5px 0;
  font-size: 14px;
  color: #555;
}

.card h3 {
  margin: 0;
  font-size: 20px;
  color: #222;
}
